* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--white-color: #fff;
}
body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: var(--white-color);
}
.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}
:where(.css-dev-only-do-not-override-17seli4).ant-menu-dark.ant-menu-horizontal
	> .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-17seli4).ant-menu-dark
	> .ant-menu.ant-menu-horizontal
	> .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-17seli4).ant-menu-dark.ant-menu-horizontal
	> .ant-menu-submenu-selected,
:where(.css-dev-only-do-not-override-17seli4).ant-menu-dark
	> .ant-menu.ant-menu-horizontal
	> .ant-menu-submenu-selected {
	background-color: purple;
}
